
header {
    
    /* The Header is "Kayla Terzioglu's Visual Art Portfolio" */
    
    text-align: center; 
    /* This "set[s] the horizontal alignment of a text. 
    A text can be left or right aligned, centered, or justified. */

    padding: 35px;
    /* "The CSS padding properties are used to generate space around an 
        element's content, inside of any defined borders" */

    font-style: normal;
    font-family: "Garamond", serif;
    font-size: 20px;
 }
 
 nav {

    /* nav section: affects the Home, Portfolio, and About Me link format */

    text-align: center;
    
    word-spacing: 1.5px; 
    /* Word spacing "sets the length of space between words and between tags" */
    
    Padding: 20px;
    font-style: normal;
    font-family: "Garamond", serif;

    font-size: 20px;
 }

 footer{

    text-align: center;
    
    word-spacing: 1.5px; 
    
    Padding: 30px;

    font-style: normal;
    font-family: "Garamond", serif;

    font-size: 20px;
 }
 
 /* Creates a two-column layout */

 *{
    box-sizing: border-box;
 }
 .row {
    display: flex;
    flex-wrap: wrap;
 }
 
 .profile {
    width: 50%;
    background-color: black;
    color: white;
    height: 100vh;
    flex: 50%;
    padding: 20px;
    text-align: center;
    border-top: 4px solid rgb(158, 10, 87);
    border-left: 4px solid rgb(158, 10, 87);
    border-right: 4px solid rgb(158, 10, 87);
    border-bottom: 4px solid rgb(158, 10, 87);
    font-style: normal;
    font-family: "Garamond", serif;
 }

 /* Pineapple man image: */
 .profile img {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    padding: 15px;
 }

 /* About Me Section: */
 .profile h1 {
    text-align: center;
    padding: 10px;
 }

 .profile p {
   font-size: 20px;
 }

 .site-goal {
   width: 50%;
   height: 100vh;
   background-color: white;
   text-align: right;
   color: rgb(158, 10, 87);
   flex: 50%; /* Flex splits the screen in half */
   border-top: 4px solid rgb(231, 108, 14);
   border-left: 4px solid rgb(231, 108, 14);
   border-right: 4px solid rgb(231, 108, 14);
   border-bottom: 4px solid rgb(231, 108, 14);
   padding: 20px;
   font-style: normal;
   font-family: "Garamond", serif;
   font-size: 20px;

}
.site-goal h1{
   text-align: center;
}
.site-goal p {
   color: black;
   text-align: center;
}

 